<div class="container">
    <br>
      <div class="row">
        <div class="col">
            <h3>This is a Test!</h3>
            <br>
        </div>
      </div>
      <div class="row">
          <div class="col col-lg-4" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroup-sizing-default">
                    Wakeword:
                  </span>
                </div>
              <select [(ngModel)]="wakeword"
                      class="custom-select"
                      (change)="setWakeword()" >
                <option value="OK Google" selected>OK Google</option>
                <option value="Alexa">Alexa</option>
                <option value="Hey Siri">Hey Siri</option>
              </select>
            </div>
        </div>
      </div>
      <div class="row" *ngIf="!disableAudioFileName">
          <div class="col col-lg-10" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroup-sizing-default">
                        Prompt:
                  </span>
                </div>
                <input [(ngModel)]="prompt"
                        type="text"
                        class="form-control"
                        required
                        placeholder="{{prompt}}"/>
              </div>
          </div>
        </div>
        <div class="row" *ngIf="!disableAudioFileName">
            <div class="col col-lg-10" >
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-default">
                          Result:
                    </span>
                  </div>
                  <input [(ngModel)]="listenResult"
                          type="text"
                          class="form-control"
                          required
                          placeholder="{{listenResult}}"/>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-10">
                <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
                    {{errorText}}
                  </div>
                <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
                    <li *ngFor="let message of messages">
                      {{message}}
                    </li>
                  </div>
                </div>
              <div class="col col-lg-1">
                  <div *ngIf="!speakButtonOn">
                      <button type="button" class="btn btn-outline-success" (click)="startSpeak()">Start</button>
                    </div>
                    <div *ngIf="speakButtonOn">
                        <!-- <button type="button" class="btn btn-outline-success" (click)="stopSpeak()">Stop</button> -->
                    </div>
              </div>
            </div>
    </div>

